@import "react-toastify/dist/ReactToastify.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}


h2 {
  background: linear-gradient(90deg, #b3138c, #00b0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
